{% load staticfiles %}
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Jquery -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.js' %}"></script>

<!-- Flot -->
<script src="{% static 'js/jquery.flot.min.js' %}"></script>

<!-- Morris -->
<script src="{% static 'js/rapheal.min.js' %}"></script>
<script src="{% static 'js/morris.min.js' %}"></script>

<!-- Colorbox -->
<script src="{% static 'js/jquery.colorbox.min.js' %}"></script>

<!-- Sparkline -->
<script src="{% static 'js/jquery.sparkline.min.js' %}"></script>

<!-- Pace -->
<script src="{% static 'js/uncompressed/pace.js' %}"></script>

<!-- Popup Overlay -->
<script src="{% static 'js/jquery.popupoverlay.min.js' %}"></script>

<!-- Slimscroll -->
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>

<!-- Modernizr -->
<script src="{% static 'js/modernizr.min.js' %}"></script>

<!-- Cookie -->
<script src="{% static 'js/jquery.cookie.min.js' %}"></script>

<!-- Endless -->
<script src="{% static 'js/endless/endless.js' %}"></script>


<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

<!-- check manager -->
<script src="{% static 'js/jquery.jqGrid.min.js' %}"></script>
<script src="{% static 'js/grid.locale-cn.js' %}"></script>
<script src="{% static 'js/jqPaginator.min.js' %}"></script>

<script src="{% static 'js/GridEdit.js' %}"></script>
<script src="{% static 'js/InValid.js' %}"></script>