extends ../layout

block content
  h2 Exec for #{id}

  script.
    var status = 0;
    var urlB = "get_log?location=" + "#{log}";
    console.log(urlB);
    function getData() {
      console.log('beginning....');
      $.ajax({
        url: urlB,
        success:function(data){
          console.log('we got log: ' + data.log);
          console.log('we got status : ' + data.status);
          status = data.status;
          console.log('now status : ' + status);
          $("#log").html(data.log);
        }
      });
      console.log('ending....');
    } 
    setInterval(function(){
      if (status == 0) {
        console.log('beginning. setInterval...' + status);
        getData();
        console.log('eeeing....');
      } else {
        console.log('ajax stops, cause status is ' + status);
      }
    }, 5000);

  .container.bg-primary
    | log location : #{log}

  #log.container.bg-info