{% extends 'layout.html' %}
{% load staticfiles %}
{% block scripts %}
    <script type="text/javascript">
        var status = 0;
        console.log(urlB);
        function getData() {
            console.log('beginning....');
            $.ajax({
                url: urlB,
                success: function (data) {
                    if (data.resp_status == 1) {
                        var cc = data.data;
                        if (data.status == 0) {
                            $("#headd").attr("container bg-info");
                        } else if (data.status == 1) {
                            $("#headd").attr("container bg-success");
                        } else if (data.status == 2) {
                            $("#headd").attr("container bg-warn");
                        } else if (data.status == 3) {
                            $("#headd").attr("container bg-warn");
                        }
                        if ($("#log").html().length < cc.length) {
                            $("#log").html(cc);
                            $("html, body").animate({scrollTop: $(document).height() - window.innerHeight});
                        }
                    } else {
                        console.log('got error response ' + data);
                    }
                }
            });
            console.log('ending....');
        }
        getData();
        setInterval(function () {
            console.log('beginning. setInterval...' + status);
            getData();
            console.log('eeeing....');
        }, 5000);

        function goTop() {
            $(window).scroll(function (e) {
                //若滚动条离顶部大于100元素
                if ($(window).scrollTop() > 100)
                    $("#gotop").fadeIn(150);//以1秒的间隔渐显id=gotop的元素
                else
                    $("#gotop").fadeOut(50);//以1秒的间隔渐隐id=gotop的元素
            });
        }
        ;
        $(function () {
            //点击回到顶部的元素
            $("#gotop").click(function (e) {
                //以1秒的间隔返回顶部
                $('body,html').animate({scrollTop: 0}, 1000);
            });
            $("#gotop").mouseover(function (e) {
                $(this).css("background", "url(/static/images/backtop.png) no-repeat 0px 0px");
            });
            goTop();//实现回到顶部元素的渐显与渐隐

            $("#killer").click(function (e) {
                console.log("wanna kill me?");
                $.ajax({
                    url: url_k,
                    success: function (data) {
                        alert(data);
                        $(window).attr('location', '/metamap/executions/status/3/')
                    }
                });
                console.log('got killed');
            });
        });
    </script>
{% endblock %}

{% block title %}执行日志{% endblock %}
{% block content %}
    <style type="text/css">
        #gotop {
            display: none;
            width: 55px;
            height: 55px;
            position: fixed;
            right: 50px;
            bottom: 50px;
            background: url("{% static 'images/backtop.png' %}") no-repeat 0px 0px;
        }

        #killer {
            width: 55px;
            height: 55px;
            position: fixed;
            right: 53px;
            bottom: 120px;
            background: url("{% static 'images/killer2.jpg' %}");
        }
    </style>
    <div id="gotop"></div>
    {% if perms.auth.access_etl %}
        <div id="killer"></div>
    {% endif %}
    <h2 id="headd" class="container bg-info">日志信息
    </h2>
    <div id="log" class="container bg-info ">
    </div>
{% endblock %}