{% extends 'layout.html' %}
{% load ifdef %}

{% block title %}编辑ETL{% endblock %}

{% block content %}
    {% csrf_token %}
    {% has_def 'etl' as has_etl %}
    {% if has_etl %}
        <form action="." method="POST">
            <div class="form-group">
                <input name="id" value="{{ etl.id }}" type="hidden" class="form-control">
                <label>cgroup</label>
                <select id="cgroup_id" name="cgroup_id" class="selectpicker form-control"
                        data-live-search="true" required>
                    <option class="bs-title-option" value="">选择....</option>
                </select>
                <label>ETL名称</label>
                <input name="tblName" value="{{ etl.tblName }}" type="text" class="form-control">
                <label>查询SQL</label>
                <textarea name="query" rows="13" class="form-control">{{ etl.query }}</textarea>
                <label>预设变量</label>
                <textarea name="variables" rows="5" class="form-control">{{ etl.variables }}</textarea>
                <label>配置</label>
                <textarea name="setting" rows="5" class="form-control">{{ etl.setting }}</textarea>
                <label>先行SQL（针对target）</label>
                <textarea name="preSql" rows="13" class="form-control">{{ etl.preSql }}</textarea>
                <label>是否生效</label>
                <div class="radio-inline">
                    <input id="optionsRadios1" type="radio" name="valid"
                            {% if etl.valid != 0 %}
                           checked="checked"
                            {% endif %}
                           value="1">是
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios3" type="radio" name="valid"
                            {% if etl.valid == 0 %}
                           checked="checked"
                            {% endif %}
                           value="0">否
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
    {% else %}
        <form action="." method="POST">
            <div class="form-group">
                <input name="id" value="" type="hidden" class="form-control">
                <label>cgroup</label>
                <select id="cgroup_id" name="cgroup_id" class="selectpicker form-control"
                        data-live-search="true" required>
                    <option class="bs-title-option" value="">选择....</option>
                </select>
                <label>ETL名称</label>
                <input name="tblName" value="" type="text" class="form-control">

                <label>查询SQL</label>
                <textarea name="query" rows="13" class="form-control"></textarea>
                <label>预设变量</label>
                <textarea name="variables" rows="5" class="form-control"></textarea>
                <label>配置</label>
                <textarea name="setting" rows="5" class="form-control"></textarea>
                <label>先行SQL（针对target）</label>
                <textarea name="preSql" rows="13" class="form-control"></textarea>
                <label>是否生效</label>
                <div class="radio-inline">
                    <input id="optionsRadios1" type="radio" name="valid"
                           checked="checked"
                           value="1">是
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios3" type="radio" name="valid" value="0">否
                </div>
                <br/>
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
    {% endif %}
<script>
        {% if has_etl %}
            var cgroupid = {{ etl.cgroup_id }};
        {% else %}
            var cgroupid = -1;
        {% endif %}
    </script>

    {% include 'components/common_group_js.html' %}
{% endblock %}