{% include 'components/header.html' %}
<div class="container">
<h2>alter ETL</h2>

<form>
  <div class="form-group">
    <label>名称</label>
    <input value="{{etl.tblName}}" type="text" class="form-control">
  </div>
  <div class="form-group">     
     <label>sql</label>
     <input value="{{etl.query}}" type="text" class="form-control">
  </div>
   <div class="form-group">
    <label>Presql</label>
    <input value="{{etl.preSql}}" type="text" class="form-control">
  </div>
  <div class="form-group">  
  <label>是否参与每日调度</label>   
    <input value="{{etl.onSchedule}}" type="text" class="form-control">
  </div> 
  <button type="submit" class="btn btn-primary">提交</button>
</form>
</div>