extends ../layout

block content
  head
    title col列表
    
  h2 Col列表

  if cols.length
    table.table.table-striped
      caption Col列表
        thead 
          tr
            td ID
            td 数据库名称
            td 表名称
            td 
              center 操作
      tbody
        each col in cols
          tr
            td #{col.id}
            td #{col.dbName}
            td #{col.tblName}
            td 
              center 
                a.btn.btn-primary.btn-sm(href="edit?id=#{col.id}") Edit
  else
     |No col Found