{% extends 'layout.html' %}
{% load etlutils %}

{% block title %}添加人员{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                        添加用户
                    </div>
                    <div class="panel-body">
                        {% csrf_token %}
                        <form action="." method="POST">
                            <div class="form-group">
                                <label>用户邮箱</label>
                                <input name="email" value="" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>电话号码</label>
                                <input name="phone" value="" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>权限</label>
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="hue" value="1"> HUE
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="export" value="1"> 数据导出
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="xstorm" value="1"> 修改ETL
                                    </label>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-group text-center">

                                    <button type="submit" class="btn btn-primary">提交</button>

                                    <a id="cancel" class="btn btn-warning" onclick="javascript:history.go(-1);">取消</a>
                                </div>
                            </div>
                        </form>
                        <script>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div>
                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1info" data-toggle="tab">XStorm用户</a></li>
                                <li><a href="#tab2info" data-toggle="tab">HUE用户</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1info">
                                    <table class="table table-striped">
                                        <caption></caption>
                                        <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>电话</th>
                                            <th>邮箱</th>
                                            <th>当前权限[XStorm]</th>
                                            <th>是否生效</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if xstorm_users %}
                                            {% for obj in xstorm_users %}
                                                <tr>
                                                    <td>{{ obj.user.username }}</td>
                                                    <td>{{ obj.phone }}</td>
                                                    <td>{{ obj.user.email }}</td>
                                                    <td>{{ obj.user.get_all_permissions|readable_auth }}</td>
                                                    <td>{{ obj.user.is_active|is_valid }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="tab2info">


                                    <table class="table table-striped">
                                        <caption></caption>
                                        <thead>
                                        <tr>
                                            <th>名称</th>
                                            <th>邮箱</th>
                                            <th>是否生效</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if hue_users %}
                                            {% for obj in hue_users %}
                                                <tr>
                                                    <td>{{ obj.user.username }}</td>
                                                    <td>{{ obj.user.email }}</td>
                                                    <td>{{ obj.user.is_active|is_valid }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}