{% extends 'layout.html' %}
{% block title %}hive中的表{% endblock %}

{% block content %}
    <div class="container">
        <h2>hive中的表</h2>
        {% include 'components/search.html' %}
        {% if tbls %}
            <table class="table table-striped">
                <caption></caption>
                <thead>
                <tr>
                    <th>表名称</th>
                    <th>数据库名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for tbl in tbls %}
                    <tr>
                        <td>{{ tbl.tbl_name }}</td>
                        <td>{{ tbl.db.name }}</td>
                        <td>
                            <a href="{{ tbl.tbl_id }}" class="btn btn-primary btn-sm">表信息</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <b>没有找到符合条件的表</b>
        {% endif %}
    </div>
{% endblock %}
