{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block scripts %}{% endblock %}
    <title>{% block title %}这里是标题{% endblock %}</title>
</head>
<div role="navigation" class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
            <a href="/export/" class="navbar-brand">Export</a></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/export/list">列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="./"> </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<body>
<div class="container">
    <form action="." method="POST">
        <div class="form-group">
            <label>名字</label>
            <input name="name" value="" type="text" class="form-control">
            <label>表头[英文逗号隔开]</label>
            <input name="header" value="" type="text" class="form-control">
            <label>查询SQL</label>
            <textarea name="sql" rows="13" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
</div>
</body>