{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {% block scripts %}{% endblock %}
    <title>{% block title %}这里是标题{% endblock %}</title>
</head>

<body>
{% include 'export/header.html' %}

<div class="container">
    {% block content %}{% endblock %}

    {% include 'components/page.html' %}
</div>
</body>
</html>