{% extends 'layout.html' %}
{% load ifdef %}
{% block title %}队列总体情况{% endblock %}
{% block scripts %}
    <script>
        function up_priority(iid, nname, queue) {
            // todo
        }
        function show_del_modal(iid, nname, queue) {
            $('#queue').val(queue);
            $('#iid').val(iid);
            $('#del_name').text(nname);
            $('#del_from_queue').modal({
                backdrop: 'static',
                keyboard: false
            });
        }
    </script>

{% endblock %}
{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="del_from_queue" tabindex="-1" role="dialog" aria-labelledby="sqllabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">请斟酌,确认要删除此任务？</h4>
                </div>
                {#                <div class="modal-body"><input type="hidden" id="delHauid"/>#}
                {#                    <p>请斟酌,确认要删除此任务？</p></div>#}
                <div id="modal-data" class="modal-body">
                    <form id="del_form" action="/metamap/ops/task_queue/del/" method="post">
                        <input type="hidden" id="iid" name="iid"/>
                        <input type="hidden" id="queue" name="queue"/>
                        <label id="del_name" class="form-group"></label>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">确认</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <div class="pull-left">
                <div class="btn-group">
                    <a href="{% url 'metamap:task_queue' %}">
                        <button type="button" class="btn btn-info btn-filter" data-target="all">队列中</button>
                    </a>
                    <a href="/metamap/executions/status/0/">
                        <button type="button" class="btn btn-warning btn-filter" data-target="onaylanan">执行中</button>
                    </a>
                    <a href="/metamap/executions/status/1/">
                        <button type="button" class="btn btn-success btn-filter" data-target="bekleyen">已完成</button>
                    </a>
                    <a href="/metamap/executions/status/2/">
                        <button type="button" class="btn btn-danger btn-filter" data-target="iptal">已失败</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="h3">排队中</span>
        </div>
        <div class="panel-body">
            {% if unack|length > 0 %}
                common : {{ unack | length }} <br/>
                <table class="table">
                    <tr>
                        <th>key</th>
                        <th>任务ID</th>
                        {#            <th>value</th>#}
                        <th>任务名称</th>
                        <th>操作</th>
                    </tr>
                    {% for k, v in unack.items %}
                        {% get_celery_taskname v as body %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{{ body.id }}</td>
                            <td>{{ body.kwargs.name }}</td>
                            <td>
                                <button class="btn btn-danger "
                                        onclick="show_del_modal('{{ body.id }}', '{{ body.kwargs.name }}', '{{ k }}');">
                                    删除
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
            <p/>
            {% for k, v in final_queue.items %}
                {% if v|length > 0 %}
                    <div class="label label-warning">队列 {{ k }} ： {{ v | length }}</div>
                    <table class="table">
                        <tr>
                            <th>任务ID</th>
                            {#                        <th>优先级</th>#}
                            <th>任务名称</th>
                            <th>操作</th>
                        </tr>
                        {% for msg in v %}
                            {% get_celery_taskname2 msg as body %}
                            <tr>
                                <td>{{ body.id }}</td>
                                {#                            <td>{{ body.priority }}</td>#}
                                <td>{{ body.kwargs.name }}</td>
                                <td>
                                    <button class="btn btn-danger "
                                            onclick="show_del_modal('{{ body.id }}', '{{ body.kwargs.name }}', '{{ k }}');">
                                        删除
                                    </button>
                                    {#                                <button class="btn btn-danger "#}
                                    {#                                        onclick="up_priority('{{ body.id }}', '{{ body.kwargs.name }}', '{{ k }}');">#}
                                    {#                                    提升优先级#}
                                    {#                                </button>#}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}
            <p/>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <span class="h3">执行中</span>
        </div>
        <div class="panel-body">
            {% for k, v in running.items %}
                {% if v|length > 0 %}

                    <b>{{ k|readable_task_queue }} {{ v|length }}</b> <br/>
                    <table class="table">
                        <tr>
                            <th>任务ID</th>
                            {#                <th>value22</th>#}
                            <th>任务名称</th>
                        </tr>
                        {% for msg in v %}
                            <tr>
                                <td>{{ msg.id }}</td>
                                {#                    <td>{{ body }}</td>#}
                                <td>{{ msg.kwargs|extract_str_dict:'name' }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}