{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}编辑sqoop{% endblock %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}"/>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <form action="." method="POST">
        <div class="form-group">
            <div class="form-group">
                <label>cgroup</label>
                <select id="cgroup_id" name="cgroup_id" class="selectpicker form-control"
                        data-live-search="true" required>
                    <option class="bs-title-option" value="">选择....</option>
                </select>
            </div>
            <input name="id" value="{{ obj.id }}" type="hidden" class="form-control">
            <div class="form-group">
                <label>任务名称</label>
                <input name="name" value="{{ obj.name }}" type="text" class="form-control"
                       {% if obj %}
                       readonly="readonly"
                       {% else %}
                        required
                       {% endif %}
                >
            </div>
            <div class="form-group">
                <label>mysql数据库</label>
                <select id="mysql_select" name="mysql_meta_id" class="selectpicker form-control"
                        data-live-search="true"  required>
                    <option class="bs-title-option" value="">选择....</option>
                </select>
            </div>
            <div class="form-group">
                <label>hive数据库</label>
                <select id="hive_select" name="hive_meta_id" class="selectpicker form-control"
                        data-live-search="true"  required>
                    <option class="bs-title-option" value="">选择....</option>
                </select>
            </div>

            <div class="form-group">
                <label>mysql表</label>
                <input name="mysql_tbl" value="{{ obj.mysql_tbl }}" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>partition_key</label>
                <input name="partition_key" value="{{ obj.partition_key }}" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>WHERE</label>
                <input name="where_clause" value="{{ obj.where_clause }}" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>字段</label>
                <textarea name="columns" rows="5" class="form-control">{{ obj.columns }}</textarea>
            </div>
            <div class="form-group">
                <label>其他参数配置</label>
                <textarea name="option" rows="5" class="form-control">{{ obj.option }}</textarea>
            </div>
            <div class="form-group">
                <label>变量配置</label>
                <textarea name="settings" rows="5" class="form-control">{{ obj.settings }}</textarea>
            </div>
            <div class="form-group">
                <label>并发度</label>
                <input name="parallel" value="{{ obj.parallel }}" type="text" class="form-control">
            </div>
            <div class="form-group text-center">

                <button type="submit" class="btn btn-primary">提交</button>

                <a id="cancel" class="btn btn-warning" onclick="javascript:history.go(-1);">取消</a>
            </div>
        </div>
    </form>

    <script>
        {% if obj %}
            var hive_meta_id = {{ obj.hive_meta.id }};
            var mysql_meta_id = {{ obj.mysql_meta.id }};
            var cgroupid = {{ obj.cgroup_id }};
        {% else %}
            var hive_meta_id = -1;
            var mysql_meta_id = -1;
            var cgroupid = -1;
        {% endif %}
    </script>
    <script type="application/javascript">
        $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    url: "/metamap/rest/sqoop_hive_meta/?format=json",
                    success: function (result) {
                        $.each(result, function (index, obj) {
                            if (hive_meta_id == obj.id) {
                                $("#hive_select").append("<option selected='selected' value='" + obj.id + "'>" + obj.db + "</option>");
                            } else {
                                $("#hive_select").append("<option value='" + obj.id + "'>" + obj.db + "</option>");
                            }
                        })
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    },
                    async: false             //false表示同步
                }
        );
        $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    url: "/metamap/rest/sqoop_mysql_meta/?format=json",
                    success: function (result) {
                        $.each(result, function (index, obj) {
                            if (mysql_meta_id == obj.id) {
                                $("#mysql_select").append("<option selected='selected' value='" + obj.id + "'>" + obj.db + "</option>");
                            } else {
                                $("#mysql_select").append("<option value='" + obj.id + "'>" + obj.db + "</option>");
                            }
                        })
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    },
                    async: false             //false表示同步
                }
        );
    </script>
    {% include 'components/common_group_js.html' %}
{% endblock %}
