{% extends 'layout.html' %}
{% block title %}Meta列表{% endblock %}

{% block content %}
    <div class="container">
        {% include 'components/search.html' %}
        <table class="table table-striped">
            <caption></caption>
            <thead>
            <tr>
                <th>数据库名称</th>
                <th>Meta</th>
                <th>类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% if metas %}
                {% for meta in metas %}
                    <tr>
                        <td>{{ meta.db }}</td>
                        <td>{{ meta.meta }}</td>
                        <td>{% if meta.type == 1 %}
                            mysql
                        {% else %}
                            hive
                        {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="/meta/{{ meta.id }}/">编辑</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}