{% extends 'layout.html' %}
{% load staticfiles %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}"/>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script>
        function show_tbl() {
            var result = $('#dep_selector').val();
            var final_result = '';

            if (result != null && result.length > 0) {
                $.each(result, function (index, data) {
                    var cls = "info";
                    if (index % 2 == 0) {
                        cls = "success";
                    }
                    var txt = $('#dep_selector option[value=' + data + ']').text();
                    final_result += '<tr class="' + cls + '"><td>' + txt + '</td></tr>';
                });
            }
            $('#preview_tbl').html(final_result);
        }

    </script>
{% endblock %}
{% block content %}
     <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fa fa-exclamation-circle fa-lg"></i> 请谨慎操作！！！
    </div>
    <div class="panel panel-primary" style="height: 450px">
        <div class="panel-heading">{{ obj.name }}的当前依赖</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover" id="tableAddRow">
                <tbody id="preview_tbl">
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <form action="." method="POST">
            <input type="hidden" name="exec_id" value="{{ obj.id }}"/>

            <select id="dep_selector" name="deps" class="selectpicker form-control" multiple data-size=8
                    title="Choose one of the following..."
                    data-live-search="true"
                    onchange="show_tbl()">
            </select>
            <p/>
            <div class="text-center">
                <button id="save" type="submit" class="btn btn-info">保存</button>
                <a id="cancel" class="btn btn-warning" onclick="javascript:history.go(-1);">取消</a>
            </div>
        </form>
    </div>


    <script type="application/javascript">
        var ids = [];
        {% for dep in deps %}
            ids.push({{ dep.parent.id }});
        {% endfor %}
        console.log(ids);
        $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    url: "/metamap/rest/execobjs/?format=json",
                    success: function (result) {
                        $.each(result, function (index, obj) {
                            if ($.inArray(obj.id, ids) > -1) {
                                $("#dep_selector").append("<option selected='selected' value='" + obj.id + "'>" + obj.name + "</option>");

                            } else {
                                $("#dep_selector").append("<option value='" + obj.id + "'>" + obj.name + "</option>");
                            }
                        });
                        show_tbl();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    },
                    async: false             //false表示同步
                }
        );
    </script>
{% endblock %}