{% extends 'layout.html' %}
{% load staticfiles %}
{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}"/>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script>
        function show_tbl() {
            var result = $('#dep_selector').val();
            var final_result = '';

            console.log('-----> ' + result);
            if (result != null && result.length > 0) {
                $.each(result, function (index, data) {
                    var cls = "info";
                    if (index % 2 == 0) {
                        cls = "success";
                    }
                    var txt = $('#dep_selector option[value=' + data + ']').text();
                    final_result += '<tr class="' + cls + '"><td>' + txt + '</td></tr>';
                });
            }
            $('#preview_tbl').html(final_result);
        }

    </script>
{% endblock %}
{% block content %}
    <div style="height: 400px">
        <table class="table table-bordered table-hover" id="tableAddRow">
            <thead>
            <tr>
                <th>当前依赖</th>
            </tr>
            </thead>
            <tbody id="preview_tbl">
            </tbody>
        </table>
    </div>
    <div class="progress">
        <div class="bar bar-success" style="width: 35%;"></div>
        <div class="bar bar-warning" style="width: 20%;"></div>
        <div class="bar bar-danger" style="width: 10%;"></div>
    </div>
    <p/>
    <form action="." method="POST">
        <input type="hidden" name="exec_id" value="{{ obj.id }}"/>

        <select id="dep_selector" name="deps" class="selectpicker form-control" multiple
                title="Choose one of the following..."
                data-live-search="true"
                onchange="show_tbl()">
            <option value=1>HFries and a Soda</option>
            <option value=2>Shake and a Smile</option>
            <option value=3>Spice and all things nice</option>
        </select>
        <p/>
        <div class="text-center">
            <button id="save" type="submit" class="btn btn-info">保存</button>
            <a id="cancel" class="btn btn-warning" onclick="javascript:history.go(-1);">取消</a>
        </div>
    </form>

{% endblock %}