{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>质检管理</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/page/check_manager/index.css' %}"/>
    {% include 'component/js.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.css' %}"/>

    <script>
        var STATUS_RECOVER = 1;
        var STATUS_PAUSE = 2;
        var TOTAL_RECORD_NUM = "";
        var chkId;
        var chkName;
        var chkStatus;
        var chkView;
        var creator;

        $(document).ready(function () {
            var params = parseUrlParams(location.search);
            chkName = params["chkName"];
            creator = params["creator"];
            if (isRightName(chkName)) {
                $('#checkName').attr('value', chkName);
            }
            if (isRightName(creator)) {
                $('#creator').attr('value', creator);
            }
        });


        /**
         * 订阅check
         * */
        function observerCheck(chk_id) {
            chkId = chk_id;
            $("#viewStatusModal").modal('show');
        }

        function observer_check() {
            $.ajax({
                url: "/dqms/check/subscribe/",
                type: "post",
                data: "chk_id=" + chkId,
                success: function (resp) {
                    var vv = '#orb' + chkId;
                    if (resp == 'error') { //调用服务失败
                        $("#checkmanager").html(resp.msg);
                        $("#failedModal").modal('show');
                        return;
                    } else if (resp == 'success_dy') {
                        $(vv).html('订阅');
                    } else if (resp == 'success_qxdy') {
                        $(vv).html('取消订阅');
                    }
                }
            });
        }

        /**
         * 获取质检任务
         */
        function getChecks() {
            var subUrl = "";
            chkName = $('#checkName').val();
            creator = $('#creator').val();
            if (isRightName(chkName)) {
                subUrl += "&chk_name=" + chkName;
            }
            if (isRightName(creator)) {
                subUrl += "&creator=" + creator;
            }
            window.parent.select_page('check', subUrl);
        }

        /**
         * 新建一个质检任务
         */
        function createCheck() {
            var params = "chk_name=" + chkName + "&creator=" + creator;
            window.parent.select_page('check/edit', params);
        }

        /**
         * 编辑质检任务
         */
        function editCheck(chk_id) {
            var params = 'chk_id=' + chk_id + "&chk_name=" + chkName + "&creator=" + creator;
            window.parent.select_page('check/edit', params);
        }

        /**
         * 更新状态
         */
        function changeStatus(chk_id, status) {
            chkId = chk_id;
            chkStatus = status;
            $("#changeStatusModal").modal('show');
        }

        function change_status() {
            if (chkStatus == STATUS_RECOVER) {
                //恢复任务
                $.ajax({
                    url: "schedule/resumeSchedule",
                    type: "post",
                    data: "chkId=" + chkId,
                    success: function (resp) {
                        if (resp.code == 1) { //调用服务失败
                            $("#checkmanager").html(resp.msg);
                            $("#failedModal").modal('show');
                            return;
                        }
                    }
                });
            }
            if (chkStatus == STATUS_PAUSE) {
                //暂停任务
                $.ajax({
                    url: "schedule/pauseSchedule",
                    type: "post",
                    data: "chkId=" + chkId,
                    success: function (resp) {
                        if (resp.code == 1) { //调用服务失败
                            $("#checkmanager").html(resp.msg);
                            $("#failedModal").modal('show');
                            return;
                        }
                    }
                });
            }

        }


        /**
         * 删除质检任务
         */
        function deleteCheck(chk_id) {
            chkId = chk_id;
            $("#deleteModal").modal('show');
        }

        function delete_check() {
            $("#deleteModal").modal('hide');
            $.ajax({
                url: "/dqms/check/del/",
                data: "id=" + chkId,
                type: "post",
                success: function (resp) {
                    if (resp.code == 1) { //调用服务失败
                        $("#failedModal").modal('show');
                        $("#casemanager").html(resp.msg);
                        return;
                    }
                    window.parent.select_page('/dqms/check/');
                },
            });
        }

        /**
         * 获取质检任务下质检用例实例详细内容
         */
        function getCheckInstanceDetail(chkinstId) {
            $("#getCheckInstModal").modal('hide');
            $.ajax({
                url: "check/queryCaseInstByChkInst",
                data: "chkinstId=" + chkinstId,
                type: "get",
                success: function (resp) {
                    if (resp.code == 1) { //调用服务失败
                        $("#checkmanager").html(resp.msg);
                        $("#failedModal").modal('show');
                        return;
                    }
                    var data = resp.data;
                    var case_inst_list_view = "";
                    var result = "";

                    for (i = 0; i < data.list.length; i++) {

                        if (data.list[i].resultCode == -1) {
                            result = '运行中';
                        } else if (data.list[i].resultCode > 0) {
                            result = data.list[i].resultMsg;
                        } else if (data.list[i].resultCode == -99) {
                            result = data.list[i].resultMsg;
                        } else if (data.list[i].resultCode == 0) {
                            result = "质检符合规则";
                        }
                        case_inst_list_view += "<tr>" +
                                "<td class='id'>" + data.list[i].id + "</td>" +
                                "<td class='name'>" + data.list[i].caseName + "</td>" +
                                "<td>" + data.list[i].startTime + "</td>" +
                                "<td>" + data.list[i].endTime + "</td>" +
                                "<td>" + result + "</td>" +
                                "</tr>";
                    }

                    $("#case_inst_list_table").html(case_inst_list_view);
                    $("#getCaseInstModal").modal('show');
                },

            });
        }

        //获取指定质检任务的执行记录
        function getexecutions(id) {
            $('#example').DataTable({
                "ajax": "/dqms/check/execs?id=" + id,
                "columns": [
                    {"data": "case_num"},
                    {"data": "case_finish_num"},
                    {"data": "start_time"},
                    {"data": "end_time"}
                ],
                "destroy": true,
                "pageLength": 5,
                "pagingType": "full",
                "language": {
                    aria: {
                        sortAscending: ": 以升序排列此列 ",
                        sortDescending: ": 以降序排列此列"
                    },
                    emptyTable: "表中没有数据",
                    info: "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    infoEmpty: "未找到数据",
                    infoFiltered: "(由 _MAX_ 项结果过滤)",
                    lengthMenu: "显示 _MENU_",
                    search: "搜索:",
                    zeroRecords: "没有匹配的结果",
                    paginate: {previous: "上页", next: "下页", last: "末页", first: "首页"}
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            });
            $("#executionModal").modal('show');
        }
    </script>


</head>
<body>
<div class="panel-dash">
    <!-- breadcrumb start -->
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li>质检管理</li>
        </ul>
    </div>
    <!-- breadcrumb end -->
    <div class="m-search-wrap label-w-100">
        <div></div>
        <div class="m-search-group">
            <label class="m-search-label">质检名称</label>
            <div class=" m-search-detail">
                <input type="text" name="name" placeholder="质检名称" id="checkName">
            </div>
            <br>
            <label class="m-search-label">创建人</label>
            <div class=" m-search-detail">
                <input type="text" name="name" placeholder="创建人" id="creator">
            </div>
            <button type="button" class="btn btn-sm btn-success m-search-btn" id="j-search"
                    onclick="getChecks()">查询
            </button>
            <button type="button" class="btn btn-sm btn-success m-search-btn" id="j-create" onclick="createCheck()">
                新建质检任务
            </button>
        </div>
        <div id="j-search-list">
            <p id="totalCheck">总共{{ objs.count }}条数据</p>
            <table class="table table-bordered " style="margin-top: 8px">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>任务名称</th>
                    <th>创建人</th>
                    <th>上次运行时间</th>
                    <th>最近修改时间</th>
                    <th>最近修改人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="check_list_table">
                {% for obj in objs %}
                    <tr>
                        <td class='id'>  {{ obj.id }} </td>
                        <td class='name'>  {{ obj.chk_name }}  </td>
                        <td>  {{ obj.creator.user.username }}  </td>
                        <td>  {{ obj.last_run_time | date:"Y-m-d H:i:s" }}  </td>
                        <td>  {{ obj.utime | date:"Y-m-d H:i:s" }}  </td>
                        <td>  {{ obj.editor.user.username }} </td>
                        <td>
                            <button class='btn btn-default btn-xs' onclick='editCheck(  {{ obj.id }}  )'>查看详情</button>
                            <button id='orb{{ obj.id }}' class='btn btn-default btn-xs'
                                    onclick='observerCheck(  {{ obj.id }}  )'>
                                {% if request.user.userprofile in obj.managers.all %}
                                    取消订阅
                                {% else %}
                                    订阅
                                {% endif %}
                            </button>
                            <button class='btn btn-default btn-xs' onclick='deleteCheck(  {{ obj.id }}  )'>删除</button>
                            <button class='btn btn-default btn-xs' onclick='getexecutions(  {{ obj.id }}  )'>执行记录
                            </button>
                            {#                            <button class='btn btn-default btn-xs' onclick='oncerun(  {{ obj.id }}  )'>测试执行</button>#}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<!-- 获取质检实例任务 -->
<div id="getCheckInstModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="checkTitle" class="modal-title">质检实例</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered " style="margin-top: 8px">
                    <thead>
                    <tr>
                        <th>任务实例编号</th>
                        <th>任务名称</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>质检结果</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="check_inst_list_table"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<!-- 获取质检实例下的用例实例 -->
<div id="getCaseInstModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="caseTitle" class="modal-title">质检实例</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered " style="margin-top: 8px">
                    <thead>
                    <tr>
                        <th>用例实例编号</th>
                        <th>用例名称</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>质检结果</th>
                    </tr>
                    </thead>
                    <tbody id="case_inst_list_table"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- 更新质检状态 -->
<div id="changeStatusModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">确认</h4>
            </div>
            <div class="modal-body">
                <p>确定要更改任务的调度吗?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="change_status()">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- 订阅质检任务 -->
<div id="viewStatusModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">确认</h4>
            </div>
            <div class="modal-body">
                <p>确定要修改质检任务的订阅状态吗?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="observer_check()">确认
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 删除质检任务 -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">确认</h4>
            </div>
            <div class="modal-body">
                <p>你确定要删除质检任务?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="delete_check()">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- 单次执行质检任务 -->
<div id="onceRunModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">确认</h4>
            </div>
            <div class="modal-body">
                <p>你确定要测试执行质检任务?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="run_check()">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- 失败弹窗 -->
<div id="failedModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">失败</h4>
            </div>
            <div class="modal-body">
                <p id="checkmanager">调用服务失败，请联系管理员。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML -->
<!-- 获取执行记录 -->
<div id="executionModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="srcTitle" class="modal-title">执行记录</h4>
            </div>
            <div class="modal-body" style="  margin-bottom: 25px;">
                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>用例数</th>
                        <th>完成数</th>
                        <th>启动时间</th>
                        <th>结束时间</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>