{% extends 'layout.html' %}
{% load ifdef %}
{% load staticfiles %}
{% block title %}调度任务{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}"/>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    {% has_def 'task' as has_task %}
    {% if has_task %}
        <form action="." method="POST">
            <div class="form-group">
                <input name="id" value="" type="hidden" class="form-control">
                <label>调度名称</label>
                <input name="name" value="{{ task.name }}" type="text" class="form-control" required>
            </div>
            <div class="form-group">

                <label>关联ETL</label>

                <select id="lunch" name="rel_id" class="selectpicker form-control" data-live-search="true">
                    <option class="bs-title-option" value="">选择....</option>
                </select>
            </div>
            <div class="form-group">
                <label>预设变量</label>
                <textarea name="variables" rows="5" class="form-control">{{ task.variables }}</textarea>
            </div>
            <div class="form-group">
                <label>是否生效</label>
                <div class="radio-inline">
                    <input id="optionsRadios1" type="radio" name="valid"
                            {% if task.valid != 0 %}
                           checked="checked"
                            {% endif %}
                           value="1">是
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios3" type="radio"  name="valid"
                            {% if task.valid == 0 %}
                           checked="checked"
                            {% endif %}
                           value="0">否
                </div>
            </div>
            <div class="form-group">
                <label>调度方式</label>
                <div class="radio-inline">
                    <input id="optionsRadios1" type="radio" name="schedule"
                           {% if task.schedule == 0 %}
                           checked="checked"
                            {% endif %}
                           value="0">每天
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios1" type="radio" name="schedule"
                           {% if task.schedule == 1 %}
                           checked="checked"
                            {% endif %}
                           value="1">周【每周第一天】
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios3" type="radio" name="schedule"
                           {% if task.schedule == 2 %}
                           checked="checked"
                            {% endif %}
                           value="2">月【每月第一天】
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios3" type="radio" name="schedule"
                           {% if task.schedule == 3 %}
                           checked="checked"
                            {% endif %}
                           value="3">季度【每季第一天】
                </div>
                <div class="radio-inline">
                    <div class="input-group">
                        <input type="radio" aria-label="自定义" name="schedule"
                               {% if task.schedule == 4 %}
                           checked="checked"
                            {% endif %}
                               value="4">自定义【cron】
                        <input type="text" class="inline" name="cronexp">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input name="id" value="" type="hidden" class="form-control">
                <label>描述</label>
                <textarea name="desc" rows="5" class="form-control">{{ task.desc }}</textarea>
            </div>
            <div class="form-group">

                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
        <script type="application/javascript">
            var id = {{ task.rel_id }}
        </script>
    {% else %}
        <form action="." method="POST">
            <div class="form-group">
                <input name="id" value="" type="hidden" class="form-control">
                <label>调度名称</label>
                <input name="name" value="" type="text" class="form-control" required>
            </div>
            <div class="form-group">

                <label>关联ETL</label>

                <select id="lunch" name="rel_id" class="selectpicker form-control" data-live-search="true">
                    <option class="bs-title-option" value="">选择....</option>
                </select>
            </div>
            <div class="form-group">
                <label>预设变量</label>
                <textarea name="variables" rows="5" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>是否生效</label>
                <div class="radio-inline">
                    <input id="optionsRadios1" type="radio" name="valid"
                           checked="checked"
                           value="1">是
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios3" type="radio" name="valid" value="0">否
                </div>
            </div>
            <div class="form-group">
                <label>调度方式</label>
                <div class="radio-inline">
                    <input id="optionsRadios1" type="radio" name="schedule"
                           checked="checked"
                           value="0">每天
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios1" type="radio" name="schedule"
                           checked="checked"
                           value="1">周【每周第一天】
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios3" type="radio" name="schedule" value="2">月【每月第一天】
                </div>
                <div class="radio-inline">
                    <input id="optionsRadios3" type="radio" name="schedule" value="3">季度【每季第一天】
                </div>
                <div class="radio-inline">
                    <div class="input-group">
                        <input type="radio" aria-label="自定义" name="schedule" value="4">自定义【cron】
                        <input type="text" class="inline" name="cronexp">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input name="id" value="" type="hidden" class="form-control">
                <label>描述</label>
                <textarea name="desc" rows="5" class="form-control"></textarea>
            </div>
            <div class="form-group">

                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>

        <script type="application/javascript">
            var id = -1
        </script>
    {% endif %}

    <script type="application/javascript">
        $.ajax({
                    type: "get",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    url: "/metamap/rest/etls/?format=json",
                    success: function (result) {
                        $.each(result, function (index, etl) {
                            if (id == etl.id) {
                                $("#lunch").append("<option selected='selected' value='" + etl.id + "'>" + etl.tblName + "</option>");
                            } else {
                                $("#lunch").append("<option value='" + etl.id + "'>" + etl.tblName + "</option>");
                            }
                        })
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    },
                    async: false             //false表示同步
                }
        );
    </script>
{% endblock %}