{% extends 'common/nav_layout.html' %}
{% load ifdef %}
{% load staticfiles %}
{% block content %}
    <div style="margin-top: 105px;
    margin-bottom: auto;">
        <div>
            {% host_clean request.build_absolute_uri as base_host %}
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="{{ base_host }}9000/dqms" class="thumbnail">
                <img src="{% static 'images/alert.jpg' %}"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h3 class="text-center">质量管理</h3>
                </div>

            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a href="{{ base_host }}8000/export" class="thumbnail">
                <img src="{% static 'images/export.png' %}"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h3 class="text-center">数据导出</h3>
                </div>
            </a>
        </div>
        {% if request.user.userprofile.org_group.name == 'jlc' %}
            <div class="col-sm-6 col-md-3">
                <a href="{{ base_host }}10099/alert" class="thumbnail">
                    <img src="{% static 'images/ETL.jpg' %}"
                         alt="通用的占位符缩略图">
                    <div class="caption">
                        <h3 class="text-center">实时告警</h3>
                    </div>
                </a>
            </div>
        {% endif %}
        {% if perms.auth.access_etl %}
            <div class="col-sm-6 col-md-3">
                <a href="{{ base_host }}8000/metamap" class="thumbnail">
                    <img src="{% static 'images/ETL.jpg' %}"
                         alt="通用的占位符缩略图">
                    <div class="caption">
                        <h3 class="text-center">ETL开发</h3>
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="col-sm-6 col-md-3">
            <a href="{{ request.build_absolute_uri }}user" class="thumbnail">
                <img src="{% static 'images/user.jpg' %}"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h3 class="text-center">密码修改</h3>
                </div>
            </a>
        </div>
    </div>
{% endblock %}